/*
       RESET
*/      
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* 
       GENERAL
*/

*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sofia Sans Condensed', sans-serif;
}

body{
    background-color: #F6f8f9;
}

.container{
     width: 75%;
     margin: 0 auto;

}

.background-white{
    background-color: white;
    
}
/* 
        HEADER
*/    
header{
    background-color: white;
    padding: 15px;
    margin-bottom: 50px;
}
h1{
    display: inline-block;
    vertical-align: middle;
}

#main-logo {
    vertical-align: middle;
}

/*
         MAIN
*/

.test-div{
    padding: 30px;
}

.check{
    border-radius: 50%;
    width: 30px;
    height:30px;
    border: 1px solid black;
    color:black;
    display: inline-block;
    text-align: center;
    line-height: 30px;

}

.done{
    border-color: green;
    color: green;
}

.not-done{
    border-color: red;
    color: red;
}